
<div *ngIf="wechatWishList">
    <h2><span>Wechat Wish List</span> {{wechatWishList.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Wish List Products</span></dt>
        <dd>
            <span *ngFor="let wishListProducts of wechatWishList.wishListProducts; let last = last">
                <a [routerLink]="['/wechat-product', wishListProducts?.id ]">{{wishListProducts.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'wechat-wish-list/'+ wechatWishList.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
