<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myWechatProductLabel">Create or edit a Wechat Product</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!wechatProduct.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="wechatProduct.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_productCode">Product Code</label>
            <input type="text" class="form-control" name="productCode" id="field_productCode"
                [(ngModel)]="wechatProduct.productCode" required maxlength="255"/>
            <div [hidden]="!(editForm.controls.productCode?.dirty && editForm.controls.productCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.productCode?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.productCode?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_productName">Product Name</label>
            <input type="text" class="form-control" name="productName" id="field_productName"
                [(ngModel)]="wechatProduct.productName" required maxlength="255"/>
            <div [hidden]="!(editForm.controls.productName?.dirty && editForm.controls.productName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.productName?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.productName?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_metaDesc">Meta Desc</label>
            <input type="text" class="form-control" name="metaDesc" id="field_metaDesc"
                [(ngModel)]="wechatProduct.metaDesc" maxlength="1024"/>
            <div [hidden]="!(editForm.controls.metaDesc?.dirty && editForm.controls.metaDesc?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.metaDesc?.errors?.maxlength">
                   This field cannot be longer than 1024 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_image">Image</label>
            <input type="text" class="form-control" name="image" id="field_image"
                [(ngModel)]="wechatProduct.image" maxlength="1024"/>
            <div [hidden]="!(editForm.controls.image?.dirty && editForm.controls.image?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.image?.errors?.maxlength">
                   This field cannot be longer than 1024 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_originalPrice">Original Price</label>
            <input type="number" class="form-control" name="originalPrice" id="field_originalPrice"
                [(ngModel)]="wechatProduct.originalPrice" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                [(ngModel)]="wechatProduct.price" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_productQuantity">Product Quantity</label>
            <input type="number" class="form-control" name="productQuantity" id="field_productQuantity"
                [(ngModel)]="wechatProduct.productQuantity" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_platformProduct">Platform Product</label>
            <input type="checkbox" class="form-control" name="platformProduct" id="field_platformProduct"
                [(ngModel)]="wechatProduct.platformProduct" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_sellOut">Sell Out</label>
            <input type="checkbox" class="form-control" name="sellOut" id="field_sellOut"
                [(ngModel)]="wechatProduct.sellOut" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_goLive">Go Live</label>
            <input type="checkbox" class="form-control" name="goLive" id="field_goLive"
                [(ngModel)]="wechatProduct.goLive" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_collectTimes">Collect Times</label>
            <input type="number" class="form-control" name="collectTimes" id="field_collectTimes"
                [(ngModel)]="wechatProduct.collectTimes" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_wechatUser">Wechat User</label>
            <select class="form-control" id="field_wechatUser" name="wechatUser" [(ngModel)]="wechatProduct.wechatUserId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="wechatUserOption.id" *ngFor="let wechatUserOption of wechatusers; trackBy: trackWechatUserById">{{wechatUserOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
